@font-face {
  font-family: 'Whyte-Black';
  src: url("/web/fonts/Whyte/Whyte-Black.woff2"); }

@font-face {
  font-family: 'Whyte-BlackItalic';
  src: url("/web/fonts/Whyte/Whyte-BlackItalic.woff2"); }

@font-face {
  font-family: 'Whyte-Bold';
  src: url("/web/fonts/Whyte/Whyte-Bold.woff2"); }

@font-face {
  font-family: 'Whyte-BoldItalic';
  src: url("/web/fonts/Whyte/Whyte-BoldItalic.woff2"); }

@font-face {
  font-family: 'Whyte-Book';
  src: url("/web/fonts/Whyte/Whyte-Book.woff2"); }

@font-face {
  font-family: 'Whyte-BookItalic';
  src: url("/web/fonts/Whyte/Whyte-BookItalic.woff2"); }

@font-face {
  font-family: 'Whyte-ExtraLight';
  src: url("/web/fonts/Whyte/Whyte-ExtraLight.woff2"); }

@font-face {
  font-family: 'Whyte-ExtraLightItalic';
  src: url("/web/fonts/Whyte/Whyte-ExtraLightItalic.woff2"); }

@font-face {
  font-family: 'Whyte-Heavy';
  src: url("/web/fonts/Whyte/Whyte-Heavy.woff2"); }

@font-face {
  font-family: 'Whyte-HeavyItalic';
  src: url("/web/fonts/Whyte/Whyte-HeavyItalic.woff2"); }

@font-face {
  font-family: 'Whyte-Italic';
  src: url("/web/fonts/Whyte/Whyte-Italic.woff2"); }

@font-face {
  font-family: 'Whyte-Light';
  src: url("/web/fonts/Whyte/Whyte-Light.woff2"); }

@font-face {
  font-family: 'Whyte-LightItalic';
  src: url("/web/fonts/Whyte/Whyte-LightItalic.woff2"); }

@font-face {
  font-family: 'Whyte-Medium';
  src: url("/web/fonts/Whyte/Whyte-Medium.woff2"); }

@font-face {
  font-family: 'Whyte-MediumItalic';
  src: url("/web/fonts/Whyte/Whyte-MediumItalic.woff2"); }

@font-face {
  font-family: 'Whyte-Regular';
  src: url("/web/fonts/Whyte/Whyte-Regular.woff2"); }

@font-face {
  font-family: 'Whyte-Super';
  src: url("/web/fonts/Whyte/Whyte-Super.woff2"); }

@font-face {
  font-family: 'Whyte-SuperItalic';
  src: url("/web/fonts/Whyte/Whyte-SuperItalic.woff2"); }

@font-face {
  font-family: 'Whyte-Thin';
  src: url("/web/fonts/Whyte/Whyte-Thin.woff2"); }

@font-face {
  font-family: 'SFProDisplay-Black';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-Black.woff2"); }

@font-face {
  font-family: 'SFProDisplay-BlackItalic';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-BlackItalic.woff2"); }

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-Bold.woff2"); }

@font-face {
  font-family: 'SFProDisplay-BoldItalic';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-BoldItalic.woff2"); }

@font-face {
  font-family: 'SFProDisplay-Heavy';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-Heavy.woff2"); }

@font-face {
  font-family: 'SFProDisplay-HeavyItalic';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-HeavyItalic.woff2"); }

@font-face {
  font-family: 'SFProDisplay-Light';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-Light.woff2"); }

@font-face {
  font-family: 'SFProDisplay-LightItalic';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-LightItalic.woff2"); }

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-Medium.woff2"); }

@font-face {
  font-family: 'SFProDisplay-MediumItalc';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-MediumItalic.woff2"); }

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-Regular.woff2"); }

@font-face {
  font-family: 'SFProDisplay-RegularItalic';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-RegularItalic.woff2"); }

@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-Semibold.woff2"); }

@font-face {
  font-family: 'SFProDisplay-SemiboldItalic';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-SemiboldItalic.woff2"); }

@font-face {
  font-family: 'SFProDisplay-Thin';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-Thin.woff2"); }

@font-face {
  font-family: 'SFProDisplay-ThinItalic';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-ThinItalic.woff2"); }

@font-face {
  font-family: 'SFProDisplay-UltraLight';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-UltraLight.woff2"); }

@font-face {
  font-family: 'SFProDisplay-UltraLightItalic';
  src: url("/web/fonts/SFProDisplay/SFProDisplay-UltraLightItalic.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-Black';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-Black.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-BlackIta';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-BlackIta.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-Bold';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-Bold.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-BoldIta';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-BoldIta.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-ExtBdIta';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-ExtBdIta.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-ExtBlk';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-ExtBlk.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-ExtBlkIta';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-ExtBlkIta.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-ExtLt';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-ExtLt.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-ExtLtIta';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-ExtLtIta.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-ExtraBold';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-ExtraBold.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-Hairline';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-Hairline.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-HairlineI';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-HairlineI.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-Light';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-Light.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-Lightita';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-Lightita.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-MedIta';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-MedIta.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-Medium';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-Medium.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-RegIta';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-RegIta.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-Regular';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-Regular.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-Thin';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-Thin.woff2"); }

@font-face {
  font-family: 'HelveticaNowDisplay-ThinIta';
  src: url("/web/fonts/HelveticaProDisplay/HelveticaNowDisplay-ThinIta.woff2"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 18px; }

body {
  font-family: SFProDisplay-Regular, sans-serif; }

.a-btn {
  display: inline-block;
  background-color: #FFFFFF;
  border: 3px solid #608FFF;
  border-radius: 7px;
  width: 100%;
  text-align: center;
  color: #608FFF;
  font-size: 18px;
  padding: 6px 12px;
  cursor: pointer; }
  .a-btn:hover {
    text-decoration: none;
    background-color: #608FFF;
    color: #FFFFFF;
    -webkit-transition: .13s;
    -o-transition: .13s;
    transition: .13s; }

.a-btn.reverse-color {
  background-color: #608FFF;
  color: #FFFFFF; }
  .a-btn.reverse-color:hover {
    background-color: #FFFFFF;
    color: #608FFF; }

.unauthorized-info {
  padding: 15px 0; }

h1, .h1 {
  font-size: 36px; }

ul.navbar-nav.navbar-right.nav {
  font-size: 16px;
  padding: 15px 0;
  margin: 0px; }
  ul.navbar-nav.navbar-right.nav li {
    padding: 0 15px; }

.navbar-inverse {
  background-color: #ffffff; }

.navbar {
  border: none;
  margin: 0; }

.navbar-header {
  padding: 10px 0px; }
  .navbar-header .navbar-brand {
    height: 55px;
    line-height: 0;
    font-size: 0px;
    padding: 0 0 0 15px; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #ffffff;
  color: #608FFF; }
  .navbar-inverse .navbar-nav > .active > a:after, .navbar-inverse .navbar-nav > .active > a:hover:after, .navbar-inverse .navbar-nav > .active > a:focus:after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    left: 0px;
    height: 2px;
    bottom: 20%;
    background-color: #608FFF; }

.navbar-inverse .navbar-nav > li > a {
  color: #000000;
  padding: 10px 0px; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #608FFF; }

.logo {
  width: 200px;
  height: auto;
  margin-left: 10px; }

.home-page {
  font-family: SFProDisplay-Regular, sans-serif;
  font-size: 18px; }

.hte {
  min-height: 500px;
  color: white;
  background-image: url("../img/light-industry.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.hometeameng-header {
  margin: 50px 0; }
  .hometeameng-header h1 {
    font-family: Whyte-Black, sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 20px 60px; }

.wrap-left-text, .wrap-right-text {
  height: 235px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 9% auto;
  padding: 20px 60px; }
  .wrap-left-text h3, .wrap-right-text h3 {
    margin: 5px 0 0 0; }
  .wrap-left-text .desc-text, .wrap-right-text .desc-text {
    margin-top: 35px; }

.wrap-left-text {
  margin-left: 15%; }

.wrap-right-text {
  margin-right: 15%; }

.translucent-glass {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  border-radius: 5px; }

.service-header {
  margin-top: 50px;
  font-family: HelveticaNowDisplay-ExtBlk, sans-serif;
  font-size: 36px;
  color: #608FFF; }
  .service-header h2 {
    margin: 0;
    font-weight: 800; }
  .service-header small {
    color: #608FFF;
    font-weight: 600; }

.exec-work {
  margin-top: 50px; }
  .exec-work h3 {
    margin-top: 0;
    font-weight: 600;
    color: #608FFF; }
  .exec-work .img-exec-work {
    background-image: url("../img/exec-work.jpg"); }

.advantages {
  margin-top: 100px;
  margin-bottom: 50px; }
  .advantages h3 {
    margin-top: 0;
    font-weight: 600;
    color: #608FFF; }
  .advantages .img-advantages {
    background-image: url("../img/advantages.jpg"); }

.img-exec-work, .img-advantages {
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto; }

ol li {
  line-height: 200%; }

.our-team {
  min-height: 550px;
  background-image: url("../img/industry_blur.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff; }
  .our-team .our-team-header {
    padding-top: 25px; }
  .our-team .company {
    margin-top: 50px; }
    .our-team .company .tile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 150px;
      width: 280px;
      background-color: #FFFFFF;
      border-radius: 25px;
      margin: 0 auto; }
      .our-team .company .tile img {
        width: 100%;
        padding: 15px; }

.user-info {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid #f5f7fa;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
          box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25); }
  .user-info .user-photo {
    text-align: center; }
    .user-info .user-photo img {
      width: 96px;
      height: auto; }
  .user-info .profile-data {
    margin-bottom: 3px; }
    .user-info .profile-data:nth-last-child(2) {
      margin-bottom: 7px; }

.project-view, .offer-view, .offer-create, .offers-of-project-view, .project-offers-count, .project-update {
  margin-top: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
          box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25); }
  .project-view .project-view-data, .project-view .offer-view-data, .project-view .offer-create-data, .project-view .offers-of-project-view-data, .project-view .project-update-data, .offer-view .project-view-data, .offer-view .offer-view-data, .offer-view .offer-create-data, .offer-view .offers-of-project-view-data, .offer-view .project-update-data, .offer-create .project-view-data, .offer-create .offer-view-data, .offer-create .offer-create-data, .offer-create .offers-of-project-view-data, .offer-create .project-update-data, .offers-of-project-view .project-view-data, .offers-of-project-view .offer-view-data, .offers-of-project-view .offer-create-data, .offers-of-project-view .offers-of-project-view-data, .offers-of-project-view .project-update-data, .project-offers-count .project-view-data, .project-offers-count .offer-view-data, .project-offers-count .offer-create-data, .project-offers-count .offers-of-project-view-data, .project-offers-count .project-update-data, .project-update .project-view-data, .project-update .offer-view-data, .project-update .offer-create-data, .project-update .offers-of-project-view-data, .project-update .project-update-data {
    padding: 15px 25px;
    border-bottom: 1px solid #F2F4F6; }
    .project-view .project-view-data:nth-last-child(1), .project-view .offer-view-data:nth-last-child(1), .project-view .offer-create-data:nth-last-child(1), .project-view .offers-of-project-view-data:nth-last-child(1), .project-view .project-update-data:nth-last-child(1), .offer-view .project-view-data:nth-last-child(1), .offer-view .offer-view-data:nth-last-child(1), .offer-view .offer-create-data:nth-last-child(1), .offer-view .offers-of-project-view-data:nth-last-child(1), .offer-view .project-update-data:nth-last-child(1), .offer-create .project-view-data:nth-last-child(1), .offer-create .offer-view-data:nth-last-child(1), .offer-create .offer-create-data:nth-last-child(1), .offer-create .offers-of-project-view-data:nth-last-child(1), .offer-create .project-update-data:nth-last-child(1), .offers-of-project-view .project-view-data:nth-last-child(1), .offers-of-project-view .offer-view-data:nth-last-child(1), .offers-of-project-view .offer-create-data:nth-last-child(1), .offers-of-project-view .offers-of-project-view-data:nth-last-child(1), .offers-of-project-view .project-update-data:nth-last-child(1), .project-offers-count .project-view-data:nth-last-child(1), .project-offers-count .offer-view-data:nth-last-child(1), .project-offers-count .offer-create-data:nth-last-child(1), .project-offers-count .offers-of-project-view-data:nth-last-child(1), .project-offers-count .project-update-data:nth-last-child(1), .project-update .project-view-data:nth-last-child(1), .project-update .offer-view-data:nth-last-child(1), .project-update .offer-create-data:nth-last-child(1), .project-update .offers-of-project-view-data:nth-last-child(1), .project-update .project-update-data:nth-last-child(1) {
      border-bottom: none; }
  .project-view h1, .project-view h3, .offer-view h1, .offer-view h3, .offer-create h1, .offer-create h3, .offers-of-project-view h1, .offers-of-project-view h3, .project-offers-count h1, .project-offers-count h3, .project-update h1, .project-update h3 {
    margin: 0; }

.project-view-add-info {
  margin-top: 40px;
  padding: 15px 25px;
  border: 1px solid #F2F4F6;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 7px #F2F4F6;
          box-shadow: 0 0 10px 7px #F2F4F6; }

.project-header, .offer-view-header, .offer-create-header, .offers-of-project-view-header, .project-update-header {
  color: #FFFFFF;
  background-color: #608FFF;
  border: 1px solid #608FFF;
  border-radius: 10px 10px 3px 3px; }

.project-control-buttons, .project-filter-control-buttons, .offer-control-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .project-control-buttons a:first-child, .project-control-buttons button:first-child, .project-filter-control-buttons a:first-child, .project-filter-control-buttons button:first-child, .offer-control-buttons a:first-child, .offer-control-buttons button:first-child {
    margin-right: 13px; }
  .project-control-buttons a:last-child, .project-control-buttons button:last-child, .project-filter-control-buttons a:last-child, .project-filter-control-buttons button:last-child, .offer-control-buttons a:last-child, .offer-control-buttons button:last-child {
    margin-left: 12px; }
  .project-control-buttons a:focus, .project-control-buttons button:focus, .project-filter-control-buttons a:focus, .project-filter-control-buttons button:focus, .offer-control-buttons a:focus, .offer-control-buttons button:focus {
    outline: none; }
  .project-control-buttons a:focus, .project-control-buttons button:focus, .project-filter-control-buttons a:focus, .project-filter-control-buttons button:focus, .offer-control-buttons a:focus, .offer-control-buttons button:focus {
    text-decoration: none; }

.project-control-buttons a, .project-control-buttons button {
  margin: 15px 25px; }
  .project-control-buttons a:first-child, .project-control-buttons button:first-child {
    margin-right: 10px; }
  .project-control-buttons a:last-child, .project-control-buttons button:last-child {
    margin-left: 10px; }

.project-offers-info {
  margin-top: 30px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #FF9E8B; }
  .project-offers-info a {
    color: #FFFFFF; }
  .project-offers-info .project-offers-data {
    padding: 15px 25px; }

.offers-of-project-view {
  margin: 30px 0; }

.offer-description, .offer-bid, .offer-date {
  margin-bottom: 10px; }

.buttons-control-offers-project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .buttons-control-offers-project .a-btn {
    margin: 5px; }
    .buttons-control-offers-project .a-btn:first-child {
      margin-left: 0; }
    .buttons-control-offers-project .a-btn:last-child {
      margin-right: 0; }

.offer-create-data:nth-child(2), .offer-create-data:nth-child(3) {
  padding: 0;
  border-bottom: none; }

.project-filter-control-buttons {
  margin-top: 20px; }

.project-search {
  margin-top: 20px; }

.list-projects {
  margin-top: 30px;
  border-radius: 10px; }
  .list-projects .list-project {
    border: 1px solid #E0E0E0; }
    .list-projects .list-project h1 {
      margin-left: 15px;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 32px; }
    .list-projects .list-project:first-child {
      background-color: #608FFF;
      color: #FFFFFF;
      border-radius: 10px 10px 0 0; }
    .list-projects .list-project:last-child {
      border-radius: 0 0 10px 10px; }
    .list-projects .list-project:hover {
      background-color: #F8F9FA; }
    .list-projects .list-project a {
      color: #212934; }
      .list-projects .list-project a:hover {
        text-decoration: none; }
      .list-projects .list-project a .list-project-header {
        font-family: SFProDisplay-Medium, sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8); }
      .list-projects .list-project a .list-project-type {
        color: rgba(0, 0, 0, 0.7); }
      .list-projects .list-project a .list-project-annotation {
        color: rgba(0, 0, 0, 0.65); }
      .list-projects .list-project a .list-project-header, .list-projects .list-project a .list-project-type, .list-projects .list-project a .list-project-annotation {
        padding: 10px 15px 0px 15px; }

.project-search-filter {
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
          box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25); }
  .project-search-filter .project-search-filter-header {
    padding: 15px;
    color: #000000;
    font-weight: 600;
    background-color: rgba(145, 158, 171, 0.5);
    border-radius: 10px 10px 0 0; }
  .project-search-filter .project-search-filter-body form .project-search-filter-input {
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid rgba(33, 43, 54, 0.25);
    border-radius: 5px;
    color: rgba(33, 43, 54, 0.25);
    width: calc(100% - 30px); }
    .project-search-filter .project-search-filter-body form .project-search-filter-input:first-of-type {
      margin: 15px; }
    .project-search-filter .project-search-filter-body form .project-search-filter-input:last-of-type {
      margin: 15px; }
    .project-search-filter .project-search-filter-body form .project-search-filter-input:focus {
      color: #000000; }
  .project-search-filter .project-search-filter-body form .buttons-control-filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .project-search-filter .project-search-filter-body form .buttons-control-filter .btn-control-filer {
      width: 100%;
      text-align: center; }
      .project-search-filter .project-search-filter-body form .buttons-control-filter .btn-control-filer:hover {
        text-decoration: none;
        cursor: pointer; }
    .project-search-filter .project-search-filter-body form .buttons-control-filter .btn-search, .project-search-filter .project-search-filter-body form .buttons-control-filter .btn-clear {
      font-weight: 600;
      color: #FFFFFF;
      padding: 10px;
      border-radius: 5px; }
    .project-search-filter .project-search-filter-body form .buttons-control-filter .btn-search {
      background-color: #74d01f;
      margin: 0 7px 0 15px; }
      .project-search-filter .project-search-filter-body form .buttons-control-filter .btn-search:hover {
        background-color: #6bbf1c; }
    .project-search-filter .project-search-filter-body form .buttons-control-filter .btn-clear {
      background-color: #f9ca0b;
      margin: 0 15px 0 7px; }
      .project-search-filter .project-search-filter-body form .buttons-control-filter .btn-clear:hover {
        background-color: #ebbd06; }

.project-search-table {
  font-size: 16px !important;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
          box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25); }
  .project-search-table .project-search-table-header {
    background-color: rgba(145, 158, 171, 0.5);
    font-weight: 600;
    color: #000000;
    border-radius: 10px 10px 0px 0px;
    padding: 15px 0; }
  .project-search-table .project-search-table-body .row {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .project-search-table .project-search-table-body .row a {
      color: #000000; }
      .project-search-table .project-search-table-body .row a div {
        padding: 15px; }
    .project-search-table .project-search-table-body .row:nth-child(even) {
      background-color: rgba(145, 158, 171, 0.1); }
    .project-search-table .project-search-table-body .row:hover {
      background-color: rgba(96, 143, 255, 0.1); }
      .project-search-table .project-search-table-body .row:hover:last-child {
        border-radius: 0 0 10px 10px; }

.project-offers-count {
  -webkit-box-shadow: 0 7px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
          box-shadow: 0 7px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
  color: #FFFFFF;
  margin-bottom: 30px; }

.project-offers-zero {
  padding: 15px 25px;
  background-color: #FF9E8B; }

.project-offers-not-accept {
  padding: 15px 25px;
  color: #333333;
  background-color: #FFCB68; }

.project-offer-accept {
  background-color: #4BBC8E; }
  .project-offer-accept a {
    color: #F9F871; }
  .project-offer-accept .project-offer-accept-info {
    margin-top: 20px; }
  .project-offer-accept .project-offer-accept-data {
    padding: 7px 25px;
    line-height: 1.7; }
    .project-offer-accept .project-offer-accept-data:nth-last-child(1) {
      padding: 7px 25px 15px 25px; }
    .project-offer-accept .project-offer-accept-data:nth-last-child(6) {
      padding: 15px 25px 7px 25px; }
    .project-offer-accept .project-offer-accept-data:nth-last-child(5) {
      margin-bottom: 15px; }

.profile-avatar {
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.35), 0 16px 32px -4px rgba(145, 158, 171, 0.35) !important;
          box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.35), 0 16px 32px -4px rgba(145, 158, 171, 0.35) !important; }
  .profile-avatar img {
    width: 100%;
    height: auto;
    padding: 30px; }

.profile-form {
  font-family: SFProDisplay-Medium, sans-serif;
  font-weight: 400 !important;
  color: #212b36;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
          box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25); }
  .profile-form .profile-row-data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 30px 0 30px; }
    .profile-form .profile-row-data:nth-child(2) {
      padding: 25px 30px 0 30px; }
    .profile-form .profile-row-data:nth-child(7) {
      padding: 15px 30px 25px 30px; }
    .profile-form .profile-row-data:nth-last-child(3) .form-group:first-child {
      margin-right: 0px; }
    .profile-form .profile-row-data:nth-last-child(3) .form-group:last-child {
      margin-left: 0px; }
    .profile-form .profile-row-data .profile-item-data {
      width: 100%;
      padding: 10px !important;
      border: 1px solid rgba(33, 43, 54, 0.25);
      border-radius: 5px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .profile-form .profile-row-data .profile-item-data:focus {
        border: 1px solid #608FFF;
        outline: none; }
        .profile-form .profile-row-data .profile-item-data:focus::-webkit-input-placeholder {
          color: #608FFF; }
        .profile-form .profile-row-data .profile-item-data:focus::-moz-placeholder {
          color: #608FFF; }
        .profile-form .profile-row-data .profile-item-data:focus:-ms-input-placeholder {
          color: #608FFF; }
        .profile-form .profile-row-data .profile-item-data:focus::-ms-input-placeholder {
          color: #608FFF; }
        .profile-form .profile-row-data .profile-item-data:focus::placeholder {
          color: #608FFF; }
  .profile-form button:focus {
    outline: none; }
  .profile-form .form-group {
    font-family: SFProDisplay-Regular, sans-serif !important;
    font-size: 16px;
    width: 100%;
    margin-bottom: 0px; }
    .profile-form .form-group:first-child {
      margin-right: 15px; }
    .profile-form .form-group:last-child {
      margin-left: 15px; }
    .profile-form .form-group .control-label {
      font-weight: 400; }
  .profile-form input#profile-birthday {
    font-size: 14px; }

.site-login, .site-signup {
  font-size: 16px;
  padding: 30px;
  margin: 30px auto 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
          box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25); }
  .site-login h1, .site-signup h1 {
    font-weight: 600; }
  .site-login form #login-form, .site-login #signup-form, .site-signup form #login-form, .site-signup #signup-form {
    padding: 15px; }

.site-contact h1, .site-contact h2 {
  font-weight: 600; }

.site-contact .contact {
  margin-bottom: 30px; }
  .site-contact .contact .email, .site-contact .contact .mobile {
    line-height: 1.9; }

.site-contact .bank-detail {
  line-height: 1.9; }

.site-career {
  line-height: 1.9; }
  .site-career h1 {
    font-weight: 600;
    margin-bottom: 20px; }
  .site-career .career-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .site-career .career-img img {
      width: 60%;
      height: auto; }

table, .table-bordered {
  border: 1px solid #eee; }
  table thead tr, table tbody tr, table tfoot tr, .table-bordered thead tr, .table-bordered tbody tr, .table-bordered tfoot tr {
    border-bottom-width: 0 !important; }
    table thead tr th, table thead tr td, table tbody tr th, table tbody tr td, table tfoot tr th, table tfoot tr td, .table-bordered thead tr th, .table-bordered thead tr td, .table-bordered tbody tr th, .table-bordered tbody tr td, .table-bordered tfoot tr th, .table-bordered tfoot tr td {
      border: none !important; }

.bootstrap-table .fixed-table-container, .bootstrap4 .fixed-table-container {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
          box-shadow: 0 4px 4px 0 rgba(145, 158, 171, 0.25), 0 16px 32px -4px rgba(145, 158, 171, 0.25);
  border-radius: 10px; }
  .bootstrap-table .fixed-table-container .fixed-table-body thead, .bootstrap4 .fixed-table-container .fixed-table-body thead {
    background-color: #C8CED5; }
    .bootstrap-table .fixed-table-container .fixed-table-body thead tr th:first-child, .bootstrap4 .fixed-table-container .fixed-table-body thead tr th:first-child {
      border-top-left-radius: 10px; }
    .bootstrap-table .fixed-table-container .fixed-table-body thead tr th:last-child, .bootstrap4 .fixed-table-container .fixed-table-body thead tr th:last-child {
      border-top-right-radius: 10px; }
  .bootstrap-table .fixed-table-container .fixed-table-body tbody tr:nth-child(even), .bootstrap4 .fixed-table-container .fixed-table-body tbody tr:nth-child(even) {
    background-color: rgba(145, 158, 171, 0.1); }
  .bootstrap-table .fixed-table-container .fixed-table-body tbody tr:hover, .bootstrap4 .fixed-table-container .fixed-table-body tbody tr:hover {
    background-color: rgba(96, 143, 255, 0.1); }
  .bootstrap-table .fixed-table-container .fixed-table-body tbody tr th, .bootstrap4 .fixed-table-container .fixed-table-body tbody tr th {
    margin: 10px; }
  .bootstrap-table .fixed-table-container .fixed-table-body tbody tr td, .bootstrap4 .fixed-table-container .fixed-table-body tbody tr td {
    padding: 15px; }

.bootstrap-table .fixed-table-container .fixed-table-body {
  border-radius: 10px 10px 0 0; }

td a:hover {
  text-decoration: none; }
