*
 box-sizing: border-box
 &:before, &:after
  box-sizing: border-box

html, body
  height: 100%
  font-size: 18px

body
  font-family: SFProDisplay-Regular, sans-serif

.button
  background-color: #608FFF !important
  border-radius: 10px !important
  a
    color: #ffffff !important
    background-color: #608FFF !important

    &:focus
      color: #ffffff !important
      background-color: #608FFF !important