@import "fonts"
@import "base"

ul.navbar-nav.navbar-right.nav
 font-size: 16px
 padding: 15px 0
 margin: 0px
 li
   padding: 0 15px


.navbar-inverse
  background-color: #ffffff

.navbar
  border: none
  margin: 0

.navbar-header
  padding: 10px 0px

  .navbar-brand
    height: 55px
    line-height: 0
    font-size: 0px
    padding: 0 0 0 15px

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
  background-color: #ffffff
  color: #608FFF

  &:after
    display: block
    position: absolute
    content: ""
    width: 100%
    left: 0px
    height: 2px
    bottom: 20%
    background-color: #608FFF


.navbar-inverse .navbar-nav > li > a
  color: #000000
  padding: 10px 0px

  &:hover
    color: #608FFF

.logo
  width: 200px
  height: auto
  margin-left: 10px

.home-page
  font-family: SFProDisplay-Regular, sans-serif
  font-size: 18px

.hte
  min-height: 500px
  color: white
  background-image: url("../img/light-industry.jpg")
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.hometeameng-header
  margin: 50px 0
  h1
    font-family: Whyte-Black, sans-serif
    font-size: 36px
    font-weight: 800
    text-transform: uppercase
    width: fit-content
    margin: 0 auto
    padding: 20px 60px

.wrap-left-text, .wrap-right-text
  height: 235px
  width: fit-content
  margin: 0 auto 9% auto
  padding: 20px 60px

  h3
    margin: 5px 0 0 0

  .desc-text
    margin-top: 35px

.wrap-left-text
  margin-left: 15%

.wrap-right-text
  margin-right: 15%

.translucent-glass
  background-color: rgba(0,0,0, 0.5)
  backdrop-filter: blur(2px)
  -moz-backdrop-filter: blur(2px)
  border-radius: 5px



.service-header
  margin-top: 50px
  font-family: HelveticaNowDisplay-ExtBlk, sans-serif
  font-size: 36px

  color: #608FFF

  h2
    margin: 0
    font-weight: 800

  small
    color: #608FFF
    font-weight: 600

.exec-work
  margin-top: 50px

  h3
    margin-top: 0
    font-weight: 600
    color: #608FFF

  .img-exec-work
    background-image: url("../img/exec-work.jpg")

.advantages
  margin-top: 100px
  margin-bottom: 50px

  h3
    margin-top: 0
    font-weight: 600
    color: #608FFF

  .img-advantages
    background-image: url("../img/advantages.jpg")

.img-exec-work, .img-advantages
  width: 400px
  height: 500px
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  box-shadow: 5px 10px 10px rgba(0,0,0,0.25)
  margin: 0 auto

ol
  li
    line-height: 200%

.our-team
  min-height: 550px
  background-image: url("../img/industry_blur.jpg")
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  color: #ffffff

  .our-team-header
    padding-top: 25px

  .company
    margin-top: 50px

    .tile
      display: flex
      justify-content: center
      align-items: center
      height: 150px
      width: 280px
      background-color: #FFFFFF
      border-radius: 25px
      margin: 0 auto

      img
        width: 100%
        padding: 15px

.user-info
  display: inline-block
  width: 100%
  padding: 10px
  margin-top: 15px
  background-color: white
  border: 1px solid rgba(245, 247, 250, 1)
  border-radius: 5px
  box-shadow: 0 0 15px rgba(221, 227, 237, 1)

  .user-photo
    text-align: center

    img
      width: 96px
      height: auto

  .profile-data
    margin-bottom: 3px

    &:nth-last-child(2)
      margin-bottom: 7px

.project-view, .offer-view, .offer-create
  margin-top: 30px
  border-radius: 10px
  box-shadow: 0 0 10px 7px #F2F4F6

  .project-view-data, .offer-view-data, .offer-create-data
    padding: 15px 25px
    border-bottom: 1px solid #F2F4F6

    &:nth-last-child(1)
      border-bottom: none
  h1
    margin: 0

.project-view-add-info
  margin-top: 40px
  padding: 15px 25px
  border: 1px solid #F2F4F6
  border-radius: 10px
  box-shadow: 0 0 10px 7px #F2F4F6

.project-header, .offer-view-header, .offer-create-header
  color: #FFFFFF
  background-color: #608FFF
  border: 1px solid #608FFF
  border-radius: 10px 10px 3px 3px

.project-control-buttons, .project-filter-control-buttons, .offer-control-buttons
  display: flex
  flex-direction: row
  justify-content: space-between

  a, button
    &:first-child
      margin-right: 13px

    &:last-child
      margin-left: 12px

    &:focus
      outline: none

.offer-create-data
  &:nth-child(2), &:nth-child(3)
    padding: 0
    border-bottom: none

.project-filter-control-buttons
  margin-top: 20px

.project-search
  margin-top: 20px

.list-projects
  margin-top: 30px
  border-radius: 10px

  .list-project
    border: 1px solid #E0E0E0

    h1
      margin-left: 15px
      margin-bottom: 20px
      font-weight: 600
      font-size: 32px

    &:first-child
      background-color: #608FFF
      color: #FFFFFF
      border-radius: 10px 10px 0 0

    &:last-child
      border-radius: 0 0 10px 10px

    &:hover
      background-color: #F8F9FA
    a
      color: #212934

      &:hover
        text-decoration: none

      .list-project-header
        font-family: SFProDisplay-Medium, sans-serif
        font-size: 28px
        font-weight: 600
        color: rgba(0, 0, 0, .8)

      .list-project-type
        color: rgba(0, 0, 0, .7)

      .list-project-annotation
        color: rgba(0, 0, 0, .65)

      .list-project-header, .list-project-type, .list-project-annotation
        padding: 10px 15px 0px 15px

body
  //background-color: #F5F7FA